* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Lora', serif;
}

header {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: #6B8A47;
}

a {
    color: #eae3c0;
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #fff;
    font-size: 32px;
}


.navbar a{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover,
.navbar a.active {
    color: orange;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100% ;
}


.profile-pic .prof {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
}

.skills .skill {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
}

.personality .pers{
    margin-top: 10px;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    margin-top: 10px;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}